:root {
  --color-primary-lightest: #D4D8DF;
  --color-primary-light: rgb(182, 191, 206);
  --color-primary: #283C63;
  --color-primary-dark: #20304F;
  --color-primary-darkest: #18243B;
  --color-primary-footer: rgb(16, 24, 39);
  --color-secondary-dim: rgba(248, 95, 115, 0.096);
  --color-secondary-bright: #f96f81;
  --color-secondary:#F85F73;
  --color-secondary-dark: #DF5568;
  --color-tertiary: #43cff1;
  --color-grey-light-1: #f1f1f1;
  --color-grey-light-2: #cfcfcf;
  --color-grey-light-3: #bebebe;
  --color-grey-light-4: #9c9c9c;
  --box-shadow: rgba(16,24,39,0.7); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (min-width: 137.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box;
  background-color: var(--color-primary-darkest); }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6; }

.heading-primary {
  font-weight: 600;
  margin-bottom: 5rem; }
  .heading-primary--main {
    color: var(--color-primary-lightest);
    font-size: 9rem;
    display: inline-block; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 6rem; } }
  .heading-primary--sub {
    color: var(--color-tertiary);
    font-size: 5rem;
    margin-top: 0;
    display: block; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 4rem; } }

.heading-secondary {
  align-self: flex-start;
  width: 100%;
  border-bottom: 2px solid var(--color-tertiary);
  color: var(--color-primary-lightest);
  font-size: 4rem;
  margin-bottom: 5rem;
  position: relative; }
  .heading-secondary__icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-secondary);
    vertical-align: middle;
    margin-top: -0.5rem;
    margin-left: 1rem; }

.paragraph {
  color: var(--color-primary-light);
  font-size: 1.6rem;
  line-height: 2.5; }

.about-box {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }
  @media (max-width: 48em) {
    .about-box {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .about-box__paragraph {
    font-size: 1.8rem;
    line-height: 2.5;
    margin-right: 5rem; }
    @media (max-width: 48em) {
      .about-box__paragraph {
        margin-bottom: 6rem;
        line-height: 2;
        margin-right: 0; } }
  .about-box__img {
    height: 25rem;
    width: auto;
    border-radius: 5px; }
    @media (max-width: 48em) {
      .about-box__img {
        height: 30rem; } }

.heading__cta {
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
  text-decoration: none;
  border-radius: 3px; }
  .heading__cta:link, .heading__cta:visited {
    color: var(--color-secondary);
    background-color: transparent;
    border: 2px solid var(--color-secondary);
    transition: all 0.2s; }
  .heading__cta:hover, .heading__cta:active {
    color: var(--color-secondary-bright);
    background-color: var(--color-secondary-dim);
    border: 2px solid var(--color-secondary-bright);
    transform: scale(1.03); }

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact-box__paragraph {
    font-size: 1.8rem;
    color: var(--color-primary-light);
    margin-bottom: 3rem; }
  .contact-box__btn {
    margin-top: 3rem;
    text-decoration: none;
    border: 2px solid var(--color-secondary);
    border-radius: 3px;
    padding: 1.5rem 3rem;
    font-size: 2rem; }
    .contact-box__btn:link, .contact-box__btn:visited {
      color: var(--color-secondary);
      transition: all 0.2s; }
    .contact-box__btn:hover, .contact-box__btn:active {
      background-color: var(--color-secondary-dim);
      transform: scale(1.03); }

.external-link {
  text-decoration: none; }
  .external-link:link, .external-link:visited {
    color: var(--color-secondary);
    border-bottom: 1px solid transparent;
    transition: all 0.2s; }
  .external-link:hover, .external-link:active {
    border-bottom: 1px solid var(--color-secondary); }

.logo-box__logo {
  height: 5rem;
  width: 5rem;
  fill: var(--color-secondary);
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .logo-box__logo {
      height: 7rem;
      width: 7rem; } }

.project__box {
  padding-bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }
  .project__box:not(:last-child) {
    margin-bottom: 4rem;
    border-bottom: 2px solid var(--color-primary-dark); }
  @media (max-width: 48em) {
    .project__box {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; } }

.project__header {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media (min-width: 137.5em) {
    .project__header {
      flex-direction: row;
      justify-content: center;
      align-items: center; } }
  @media (max-width: 48em) {
    .project__header {
      align-items: center; } }

.project__title {
  font-size: 3rem;
  color: var(--color-secondary);
  margin-bottom: 1rem; }
  @media (min-width: 137.5em) {
    .project__title {
      margin-bottom: 0; } }

.project__img-box {
  height: 30rem;
  width: 30rem;
  margin-right: 3rem; }
  @media (max-width: 62em) {
    .project__img-box {
      height: 25rem;
      width: 25rem;
      margin-bottom: 2rem; } }

.project__img {
  height: 30rem;
  width: 30rem;
  border-radius: 5px;
  margin-right: 3rem; }
  @media (max-width: 62em) {
    .project__img {
      height: 25rem;
      width: 25rem; } }

.project__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media (max-width: 48em) {
    .project__details {
      margin-top: 2rem;
      align-items: center; } }

.project__description {
  font-size: 1.6rem;
  line-height: 1.7; }

.project__technologies {
  list-style: none; }

.project__skill {
  font-size: 1.4rem;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border-radius: 100px;
  color: var(--color-primary-light);
  border: 1px solid var(--color-primary-light); }
  .project__skill:not(:last-child) {
    margin-right: 1rem; }

.project__buttons {
  text-decoration: none;
  margin-top: 3rem; }
  .project__buttons--icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-secondary);
    transition: all 0.2s; }
    .project__buttons--icon:hover {
      transform: scale(1.1);
      fill: var(--color-secondary-bright); }
    @media (max-width: 48em) {
      .project__buttons--icon {
        height: 5rem;
        width: 5rem; } }

.project__button {
  text-decoration: none; }
  .project__button:not(:last-child) {
    margin-right: 3rem; }

.section-box {
  width: 75%; }

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.footer {
  height: 10rem;
  background-color: var(--color-primary-footer);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer__paragraph {
    font-size: 1.6rem;
    color: var(--color-tertiary);
    text-transform: uppercase;
    word-spacing: 0.8rem; }
  @media (max-width: 62em) {
    .footer {
      height: 15rem; } }

.footer-nav {
  display: none; }
  .footer-nav__list {
    list-style: none;
    display: flex;
    flex-direction: row; }
  .footer-nav__item {
    margin-bottom: 2rem; }
    .footer-nav__item:not(:last-child) {
      margin-right: 4rem; }
  .footer-nav__link:link, .footer-nav__link:visited {
    text-decoration: none; }
  .footer-nav__icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-primary);
    transition: all 0.2s; }
    .footer-nav__icon:hover {
      fill: var(--color-tertiary); }
  @media (max-width: 62em) {
    .footer-nav {
      display: initial; } }

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-primary-footer);
  box-shadow: 0 0.5rem 2rem var(--box-shadow);
  z-index: 100;
  padding: 1.5rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 37.5em) {
    .header {
      padding: 0.5rem 2rem;
      font-size: 2rem;
      flex-direction: column; } }
  .header__logo-box {
    display: flex;
    align-items: center; }
    @media (max-width: 37.5em) {
      .header__logo-box {
        margin: 2rem 0; } }
  .header__nav {
    animation: moveInRight 0.8s; }
    @media (max-width: 37.5em) {
      .header__nav {
        margin-bottom: 3rem; } }

.navigation__list {
  list-style: none;
  backface-visibility: hidden;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 24.375em) {
    .navigation__list {
      justify-content: center;
      align-items: center; } }

.navigation__item {
  display: inline-block;
  transition: all  0.2s; }
  .navigation__item:hover, .navigation__item:active {
    transform: scale(1.05); }
  .navigation__item:not(:last-child) {
    margin-right: 4rem; }
    @media (max-width: 24.375em) {
      .navigation__item:not(:last-child) {
        margin: 0 2rem 0 2rem; } }

.navigation__link {
  text-decoration: none;
  padding: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    color: var(--color-tertiary);
    transition: all 0.2s; }
  .navigation__link:hover, .navigation__link:active {
    color: var(--color-secondary); }
  .navigation__link--cta {
    border-radius: 3px;
    color: var(--color-secondary); }
    @media (max-width: 24.375em) {
      .navigation__link--cta {
        display: block;
        margin-top: 2rem; } }
  .navigation__link--cta:link, .navigation__link--cta:visited {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    transition: all 0.2s; }
  .navigation__link--cta:hover, .navigation__link--cta:active {
    background-color: var(--color-secondary-dim);
    color: var(--color-secondary-bright);
    border: 1px solid var(--color-secondary-bright); }

.secondary-nav {
  position: fixed;
  bottom: 0;
  right: 4rem; }
  @media (max-width: 62em) {
    .secondary-nav {
      display: none; } }
  .secondary-nav::after {
    content: "";
    display: block;
    width: 0.2rem;
    height: 10rem;
    background-color: var(--color-tertiary);
    margin: 0px auto; }
  .secondary-nav__list {
    list-style: none;
    display: flex;
    flex-direction: column; }
  .secondary-nav__item {
    margin-bottom: 2rem; }
  .secondary-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-secondary);
    transition: all 0.1s; }
    .secondary-nav__icon:hover, .secondary-nav__icon:active {
      fill: var(--color-secondary-bright);
      transform: scale(1.15); }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section {
  width: 60%; }
  @media (min-width: 137.5em) {
    .section {
      width: 50%; } }
  @media (max-width: 75em) {
    .section {
      width: 70%; } }
  @media (max-width: 62em) {
    .section {
      width: 80%; } }
  @media (max-width: 48em) {
    .section {
      width: 85%; } }
  @media (max-width: 37.5em) {
    .section {
      width: 90%; } }
  .section__header {
    margin-top: 25rem;
    animation: moveInLeft 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    @media (max-width: 1300px) {
      .section__header {
        margin-top: 15rem; } }
  .section__about {
    margin-top: 23rem;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .section__projects {
    margin-top: 18rem;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section__contact {
    margin: 18rem 0;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
