// :root {
//     // COLORS
//     --color-primary-lightest: rgb(255, 255, 255);
//     --color-primary-light: rgb(216, 223, 236);
//     --color-primary: #283C63;
//     --color-primary-dark: #20304F;
//     --color-primary-darkest: #18243B;

//     --color-primary-footer: rgb(16, 24, 39);

//     --color-secondary-dim: rgba(248, 95, 115, 0.096);
//     --color-secondary-bright: #f96f81;
//     --color-secondary:#F85F73;
//     --color-secondary-dark: #DF5568;

//     // --color-tertiary: #55e9bc;
//     --color-tertiary: #43cff1;
//     // --color-tertiary: #d573d8;

//     --color-grey-light-1: #f1f1f1;
//     --color-grey-light-2: #cfcfcf;
//     --color-grey-light-3: #bebebe;
//     --color-grey-light-4: #9c9c9c;

//     --box-shadow: rgba(16,24,39,0.7);

//     // FONT
//     $default-font-size: 1.6rem;
// }

:root {
    // COLORS
    --color-primary-lightest: rgb(255, 255, 255);
    --color-primary-light: rgb(216, 223, 236);
    --color-primary: #283C63;
    --color-primary-dark: #536382;
    --color-primary-darkest: #1c2a45;

    --color-primary-footer: #283C63;

    --color-secondary-dim: rgba(248, 95, 115, 0.096);
    --color-secondary-bright: #f96f81;
    --color-secondary:#F85F73;
    --color-secondary-dark: #DF5568;

    --color-tertiary: #43cff1;

    --color-grey-light-1: #f1f1f1;
    --color-grey-light-2: #cfcfcf;
    --color-grey-light-3: #bebebe;
    --color-grey-light-4: #9c9c9c;

    --box-shadow: rgba(16,24,39,0.7);

    // FONT
    $default-font-size: 1.6rem;
}