:root {
    // COLORS
    --color-primary-lightest: #D4D8DF;
    --color-primary-light: #7E8AA1;
    --color-primary: #283C63;
    --color-primary-dark: #20304F;
    --color-primary-darkest: #18243B;

    --color-primary-footer: #101827;

    --color-secondary-dim: rgba(41, 209, 228, 0.24);
    --color-secondary-bright: #69DEEC;
    --color-secondary:#29D2E4;
    --color-secondary-dark: #24BCCD;

    --color-tertiary: #f85f73;
    --color-quaternary: #F07B3F;

    --color-grey-light-1: #f1f1f1;
    --color-grey-light-2: #cfcfcf;
    --color-grey-light-3: #bebebe;
    --color-grey-light-4: #9c9c9c;

    // FONT
    $default-font-size: 1.6rem;
}