//////////////////////////////////////////////////////////////////////////////////
// HEADER
.header {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    &__logo-box {
        border: 1px solid #000;
        margin-top: 4.5rem;
    }

    &__nav {
        
        border: 1px solid #000;
        margin-top: 4.5rem;
    }

    &__text-box {
        border: 1px solid #000;
        align-self: center;
    }
}

//////////////////////////////////////////////////////////////////////////////////
// SECONDARY NAVIGATION
.secondary-nav {
    position: fixed;
    top: 50%;
    right: 4.5rem;

    &__list {
        list-style: none;

        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-bottom: 2rem;
    }

    &__link {

    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-primary-light);
        transition: all 0.2s;

        &:hover,
        &:active {
            fill: var(--color-secondary);
            transform: scale(1.15);
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////
// LOGO
.logo-box {

    &__logo {
        height: 10rem;
        width: 10rem;
        fill: none;
        stroke: var(--color-secondary);
    }
}

//////////////////////////////////////////////////////////////////////////////////
// HEADING
.heading-primary {
    font-weight: 600;

    display: flex;
    flex-direction: column;

    &--main {
        color: var(--color-primary-lightest);
        font-size: 9rem;
    }

    &--sub {
        font-size: 5rem;
        color: var(--color-primary-light);
        margin-top: -1.9rem;
    }
}

//////////////////////////////////////////////////////////////////////////////////
// NAVIGATION
.navigation {

    &__list {
        list-style: none;
        backface-visibility: hidden;

        display: flex;
    }

    &__item {
        display: inline-block;
        transition: all  0.2s;

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__link {
        text-decoration: none;
        padding: 1rem;
        

        &:link,
        &:visited {
            color: var(--color-primary-light);
            
        }

        &:hover,
        &:active {
            color: var(--color-secondary);

        }

        &--cta {
            border-radius: 3px;
            color: var(--color-secondary);
        }

        &--cta:link,
        &--cta:visited {
            border: 1px solid var(--color-secondary);
            color: var(--color-secondary);
        }

        &--cta:hover,
        &--cta:active {
            background-color: var(--color-secondary-dim);
            color: var(--color-secondary-bright);
            border: 1px solid var(--color-secondary-bright);
        }
    }
}