//////////////////////////////////////////////////////////////////////////////////
// HEADER
.header {
    // border: 1px solid #000;
    // margin-bottom: 10%;
    // position: fixed;
    // width: 100%;
    // background-color: orange;
    padding: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo-box {
        // border: 1px solid #000;
        display: flex;
        align-items: center;
    }

    &__nav {
        // border: 1px solid #000;
        animation: moveInRight 0.8s;
    }
}