//////////////////////////////////////////////////////////////////////////////////
// HEADER
.header {
    height: 100vh;

    display: flex;
    flex-direction: row;

    &__logo-box {
        
    }

    &__nav {
        
    }

    &__text-box {

    }
}