//////////////////////////////////////////////////////////////////////////////////
// HEADER
.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--color-primary-darkest);
    box-shadow: 0 0.5rem 2rem var(--box-shadow);
    z-index: 100;

    padding: 1.5rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo-box {
        // border: 1px solid #000;
        display: flex;
        align-items: center;
    }

    &__nav {
        // border: 1px solid #000;
        animation: moveInRight 0.8s;
    }
}