//////////////////////////////////////////////////////////////////////////////////
// ABOUT SECTION BOX
.about-box {

    display: flex;
    justify-content: center;
    align-items: center;

    &__description {
        display: flex;
        flex-direction: column;

        flex: 0 0 50%;
    }

    &__paragraph {
        margin-right: 5rem;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    &__img {
        height: 50rem;
        width: auto;
        border-radius: 5px;
    }

    &__technologies {
        list-style: none;

        display: flex;
        flex-wrap: wrap;
    }

    &__skill {
        color: var(--color-primary-light);
    }
}