//////////////////////////////////////////////////////////////////////////////////
// ABOUT SECTION BOX
.about-box {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    

    // &__description {
    //     margin-right: 10rem;

    //     display: flex;
    //     flex-direction: column;
    //     // flex: 0 0 50%;
    // }

    &__paragraph {
        font-size: 2rem;
        line-height: 2.5;
        width: 100%;
        // align-self: center;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    &__img {
        height: 40rem;
        width: auto;
        border-radius: 5px;
    }

    &__technologies {
        list-style: none;

        display: flex;
        flex-wrap: wrap;
    }

    &__skill {
        color: var(--color-primary-light);
    }
}