//////////////////////////////////////////////////////////////////////////////////
// EXTERNAL LINKS
.external-link {
    text-decoration: none;
    
    &:link,
    &:visited {
        color: var(--color-secondary);
        border-bottom: 1px solid transparent;
        transition: all 0.2s;
    }

    &:hover,
    &:active {
        border-bottom: 1px solid var(--color-secondary);
    }
}