//////////////////////////////////////////////////////////////////////////////////
// LOGO
.logo-box {

    &__logo {
        height: 5rem;
        width: 5rem;
        fill: var(--color-secondary);
    }
}