body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
}

//////////////////////////////////////////////////////////////////////////////////
// HEADING PRIMARY
.heading-primary {
    font-weight: 600;
    margin-bottom: 5rem;

    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: flex-start;

    &--main {
        color: var(--color-primary-lightest);
        font-size: 9rem;
        display: inline-block;

        @include respond(mobile) {
            font-size: 7rem;
        }
    }

    &--sub {
        color: var(--color-tertiary);
        font-size: 5rem;
        margin-top: 0;
        display: block;

        @include respond(mobile) {
            font-size: 4rem;
        }
    }

    
}

//////////////////////////////////////////////////////////////////////////////////
// HEADING SECONDARY
.heading-secondary {
    align-self: flex-start;
    width: 100%;

    border-bottom: 2px solid var(--color-tertiary);
    
    color: var(--color-primary-lightest);
    font-size: 4rem;
    margin-bottom: 5rem;
    position: relative;

    &__icon {
        height: 3rem;
        width: 3rem;
        fill: var(--color-secondary);
        
        vertical-align: middle;
        margin-top: -0.5rem;
        margin-left: 1rem;
    }
}

//////////////////////////////////////////////////////////////////////////////////
// PARAGRAPH
.paragraph {
    color: var(--color-primary-light);
    font-size: 1.6rem;
    line-height: 2.5;
}