//////////////////////////////////////////////////////////////////////////////////
// MAIN CONTAINER
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//////////////////////////////////////////////////////////////////////////////////
// SITE SECTIONS
.section {
    width: 60%;

    @include respond(large-desktop) {
        width: 50%;
    }

    @include respond(laptop) {
        width: 70%;
    }

    @include respond(tablet-land) {
        width: 80%;
    }

    @include respond(tablet-port) {
        width: 85%;
    }
    
    // @include respond(mobile) {
    //     width: 85%;
    // }

    // @media only screen and (max-width: 1784px) {
    //     width: 55%;
    // }

    // @media only screen and (max-width: 1590px) {
    //     width: 60%;
    // }

    // @media only screen and (max-width: 1465px) {
    //     width: 65%;
    // }

    // @media only screen and (max-width: 1335px) {
    //     width: 70%;
    // }

    // @media only screen and (max-width: 1245px) {
    //     width: 75%;
    // }

    // @media only screen and (max-width: 1150px) {
    //     width: 80%;
    // }

    // @media only screen and (max-width: 1075px) {
    //     width: 85%;
    // }

    // @media only screen and (max-width: 975px) {
    //     width: 90%;
    // }

    //////////////////////////////////////////////////////////////////////////////////
    // HEADER SECTION
    &__header {
        margin-top: 15rem;

        animation: moveInLeft 0.8s;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    //////////////////////////////////////////////////////////////////////////////////
    // ABOUT SECTION
    &__about {
        margin-top: 23rem;
        padding-top: 10rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    //////////////////////////////////////////////////////////////////////////////////
    // PROJECTS SECTION
    &__projects {
        margin-top: 18rem;
        padding-top: 10rem;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    //////////////////////////////////////////////////////////////////////////////////
    // CONTACT SECTION
    &__contact {
        margin: 23rem 0;
        padding-top: 10rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}