//////////////////////////////////////////////////////////////////////////////////
// MAIN CONTAINER
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//////////////////////////////////////////////////////////////////////////////////
// SITE SECTIONS
.section {
    // border: 1px solid #000;
    width: 50%;

    //////////////////////////////////////////////////////////////////////////////////
    // HEADER SECTION
    &__header {
        animation: moveInLeft 0.8s;
        margin-top: 25rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    //////////////////////////////////////////////////////////////////////////////////
    // ABOUT SECTION
    &__about {
        margin-top: 30rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    //////////////////////////////////////////////////////////////////////////////////
    // PROJECTS SECTION
    &__projects {
        margin-top: 20rem;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    //////////////////////////////////////////////////////////////////////////////////
    // CONTACT SECTION
    &__contact {
        margin-top: 20rem;
        margin-bottom: 25rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}